*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 390vh;
}

.navbar{
    display: flex;
    background-color: #00000599;
    z-index: 5;
    opacity: 0.8;
    padding: 10px 0 5px 0;
}

.logo{
    display: flex;
    height: 45px;
    margin-left: 100px;
    padding: 10px 50px;
}

.navlinks{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-left: 30px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    opacity: 1;
    z-index: 10;
}

.navlinks2{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-left: 250px;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
    opacity: 1;
    z-index: 10;
}

video{
    display: flex;
    width: 1520px;
    height: auto;
    object-fit: contain;
    z-index: 1;
    margin-top: -70px;
}

.p1{
    margin: -300px 0px 0 800px ;
    display: inline-block;
    display: flex;
    flex-direction: column;
    padding: 0 150px 0 20px;
}

.imgp1{
    height: 350px;
    display: flex;
    margin: 75px 50px 50px 200px;
}

.p1h1{
    color: #AC8D80;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
}

.p1h2{
    color: #313131;
    font-weight: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
    font-size: 23px;
    line-height: 28px;
}

.p1p{
    color:#6d6e70;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    line-height: 20px;
}

.p2img{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.p2img1{
    margin-top:200px;
    height: 100vh;
    margin-left: 1055px;
}

.p2img2{
   margin-top:200px;
    height: 100vh; 
}

.p2{
    justify-content: start;
    margin-left: 100px;
    margin-top: -500px;
    padding: 0 50px;
}

.p3{
    display: flex;
    flex-direction: column;
    padding-left: 600px;
    margin-top: 500px;
}

.p4{
    display: flex;
    gap: 50px;
    margin-left: 180px;
    margin-top: 50px;
}

.p4p{
    display: flex;
    align-content: center;
    font-size: 13px;
    color: #6d6e70;
    font-family: sans-serif;
    margin-top: 380px;
    margin-left: -1170px;
    gap: 140px;
    justify-content: space-around;
}

footer{
    background-color: #e8e1df;
    color: #6d6e70;
    margin: 100px 0 0px 0;
}

.footlinks{
    display: flex;
    gap: 150px;
    padding: 50px 0 50px 180px;
    font-family: sans-serif;
    line-height: 25px;
}

.r{
    align-items: end;
    margin-top: 40px;
    padding-left: 600px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: 12px;
}
.footlogo{
    padding: 30px 60px;
    size: 50px;
    margin-left: 250px;
    margin-top: -50px
}